body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: none; 
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 100%;
}

h1 {
    color: #4CAF50;
    margin-bottom: 20px;
}

a {
    color: #4CAF50;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    margin-top: 20px;
}

#catImageContainer img {
    margin-top: 20px;
}
